* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #c7c7dc;
  font-family: system-ui, sans-serif;
  font-size: 1em;
}
h2.card-title {
    height: 54px;
}
.main-container {
  width: 100%;
  padding: 20px;
}

.character-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 10px;
}

.card {
  display: flex;
  width: 300px;
  margin: 20px 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  width: 100%;
  align-items: center;
  color: #231f1f;
  background-color: #f5f2f0;
  box-shadow: #12111130 0px 1px 9px;
  border-radius: 8px;
}
img.estado {
  height: 135px;
  width: 130px;
  position: absolute;
  margin-top: 239px;
  margin-left: -190px;
  transition: transform .2s;
}
img.estado:hover{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: auto;
  padding: 10px;
  border-radius: 8px;
}

p.card-text {
    padding: 2px 10px;
    text-align: center;
}

p{
  padding-bottom: 8px
}

#replitBadge{
  display:none;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  height:auto;
  width: auto;
  border-radius: 8px;
  align-items: center;
  color: #e6e0e0;
  font-size: 0.9em;
  background-color: #272625;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 20px;
  padding: 10px 20px;
  position:relative;
  padding-inline: 8px;
  font-weight: 500;
}

button:hover{
  cursor:pointer;
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

.btn-original{
  background: #ebe480;
  color: #413e3e;

}

.btn-alive{
  background: #88e23b;
  color: #413e3e;
}

.btn-dead{
  background: #043c6e
  color: #f5f2f0;
}

.btn-unknow{
  background: #a6cccc;
  color: #413e3e;
}
